<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Chroma.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>chromaprint.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>chromaprint_objs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>docs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>uninstall.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0384EA14BC6145CEA88FE4C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28812DD069E244A5B2CE6C21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37E807DC1F1F5EEB00937EDC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37E807E41F1F5EEB00937EDC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3CEF360EEF184F6F873F5AE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6101C1624C374DA1852449BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A65C3EA6DC684537B77AD967</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BDCCEB6037064888AB671654</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2A5F354E3E54C7BBA959E21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
